// font and colors
$font-family: "Mulish", sans-serif;
$header-bg: linear-gradient(to right bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url('https://decagonhq.com/assets/img/hero.jpg');
$heading-btn-bg: linear-gradient(96.67deg, #34a853 0%, #b4d245 100%);
$leadership-bg: linear-gradient(180deg, rgba(249,250,251,0.7) 0%, rgba(245,249,231,0.7) 100%);
$news-card-bg: linear-gradient(359.8deg, #34a853 .12%, rgba(52,168,83,0) 99.77%);

// screen sizes
$mobile-sm-sm: 320px;
$mobile-sm: 360px;
$mobile: 414px;
$ipad: 768px;
$desktop: 1440px;

@mixin ipad {
    @media (max-width: #{$ipad}){
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile}){
        @content;
    }

}
@mixin mobile-sm {
    @media (max-width: #{$mobile-sm}){
        @content;
    }
}
@mixin mobile-sm-sm {
    @media (max-width: #{$mobile-sm}){
        @content;
    }
}

// main page
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    font-weight: 400;
}

.container {
    width: 85%;
    margin: auto;
    display: flex;
}

.container-fluid {
    width: 100%;
}

// helper classes
.hide {
    display: block;
}
.show {
    display: block;
    @include ipad(){
        display: none;
    }
}
.scrolled {
    background-color: rgba(0,0,0,0.5);
}
.btn {
    background-image: $heading-btn-bg;
    border: 0;
    padding: 1.6rem 5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1rem;
    cursor: pointer;

    // &:hover {
    //     margin-top: -1px;
    //     transition: .2s;
    // }

    @include mobile(){
        padding: 1.2rem 3rem;
    }
    @include mobile-sm-sm(){
        padding: 1rem 2rem;
    }
}
.center {
    text-align: center !important;
}

h2 {
    font-size: 2.5rem;
    line-height: 4rem;
    padding: 3.5rem 0;
    font-weight: bold;

    @include mobile(){
        padding: 2rem 0;
        font-size: 1.6rem;
    }
}

header {
    background-image: $header-bg;
    background-size: cover;
    background-position: 100% 57%;
    position: relative;
    height: 100vh;
    color: #fff;

    @include ipad(){
        background-position: 60% 0%;
        height: 80vh;
    }
    @include mobile-sm(){
        height: 70vh;
    }
    nav {
        position: fixed;
        // background-color: rgba(0,0,0,0.3);
        z-index: 99999;
        .nav-links {
            display: flex;
            justify-content: space-between;
            padding: 30px 0;
            @include ipad(){
                flex-wrap: wrap;
            }
            @include mobile(){
                padding: 10px 0;
            }
            .logo-link {
                .nav-logo {
                    @include ipad(){
                        padding: 25px 0;
                    }
                    @include mobile(){
                        padding: 20px 0;
                    }
                    @include mobile-sm(){
                        width: 130px;
                    }
                }
            }

            .icon-link {
                display: flex;
                align-items: center;

                button {
                    background: none;
                    border: none;
                }
                .menu-icon {
                    @include ipad(){
                        content: url('./images/menu-icon.svg');
                        width: 40px;
                    }
                    @include mobile-sm(){
                        width: 35px;
                    }
                }
            }

            .menu-link {
                display: flex;
                align-items: center;
                @include ipad(){
                    flex-basis: 100%;
                }
                // .menu-btns {
                //     @include ipad(){
                //         display: none;
                //     }
                // }
            }

            ul {
                @include ipad(){
                    padding: 0;
                }
                li {
                    display: inline;
                    list-style-type: none;
                    padding: 0 15px;
                    @include ipad(){
                        display: block;
                        padding: 0;
                        margin-bottom: 2rem;
                    }
                    
                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
            
            .get-started {
                background-color: #fff;
                padding: 11px 25px;
                border-radius: 2px;
                color: #000;
               
                &:hover {
                    background-color: #34a853;
                    color: #fff;
                }
            }
        }
    }

    .header-intro {
        width: 60%;
        margin: 0 auto;
        position: relative;
        text-align: center;
        padding-top: 12rem;
        
        @include ipad(){
            width: 85%;
        }
        @include mobile(){
            padding-top: 10rem;
        }
        @include mobile-sm(){
            padding-top: 8rem;
        }
        @include mobile-sm-sm(){
            padding-top: 6.5rem;
        }
        .vetted {
            color: #b4d245;
        }

        h1 {
            font-size: 3.5rem;
            line-height: 1;

            @include ipad(){
                font-size: 3.3rem;
            }
            @include mobile(){
                font-size: 1.6rem;
            }
            @include mobile-sm(){
                font-size: 1.4rem;
            }
        }

        h3 {
            font-size: 1.6rem;
            // line-height: 3.5rem;
            padding: 3rem 0 5rem 0;

            @include ipad(){
                font-size: 1.8rem;
                padding: 3rem 1.5rem 5rem 1.5rem;
            }
            @include mobile(){
                font-size: 1.1rem;
                padding: 1.5rem ;
                padding: 3rem 1rem 4rem 1rem;
            }
            @include mobile-sm(){
                font-size: .8rem;
            }
            @include mobile-sm-sm(){
                padding: 2rem 1rem 3rem 1rem;
            }
        }

    }
}

// partners
.partners {
    padding: 4rem 0;
    background-color: rgba(249,250,251,0.7);
    
    .container {
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        @include ipad(){
            width: 95%;
        }
    }
    p {
        flex-grow: 1;
        @include ipad(){
            text-align: center;
            font-size: 1.5rem;
            line-height: 2rem;
            margin-bottom: 2rem;
        }
        @include mobile(){
            font-size: 1rem;
        }
    }

    .logos-wrapper {
        flex-grow: 2;
        
        @include ipad(){
            overflow: hidden;
            flex-grow: unset;
        }
        .logos {
            overflow: scroll;
            display: flex;
            justify-content: space-between;
            align-items: center;
            div {
                margin-right: 2.5rem;
                
            }
            img {
                width: 100px;

                @include ipad(){
                    width: 150px;
                }
                @include mobile(){
                    width: 100px;
                }
            }
        }
    }

}

// why decagon 
.why-decagon {

    h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        @include ipad(){
            font-size: 1.5rem;
            margin-top: 1.5rem;
        }
    }
    p {
        margin-bottom: .5rem;
    }
    .why-items {
        justify-content: space-between;
        @include ipad(){
            flex-wrap: wrap;
        }
    }

    .flex-item-img {
        flex-basis: 55%;
        @include ipad(){
            flex-basis: 100%;
            flex-grow: 2;
        }
    }
    .flex-item {
        flex-basis: 40%;
        @include ipad(){
            flex-basis: 48%;
            // flex-grow: 1;
        }
        @include mobile(){
            flex-basis: 100%;
        }
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: justify;
        margin: 0 2rem;
        @include ipad(){
            margin: 0;
        }
        .item {
            margin: 0 10px;
            // @include ipad(){
            //     flex-basis: 20%;
            //     margin: 0;
            // }
        }

        .item-text {
            font-size: 1rem;
            line-height: 1.6rem;
            opacity: .6;
            @include ipad(){
                font-size: 1.3rem;
                line-height: 2rem;
            }
        }
    }

}

// our locations
.our-locations {
    @include mobile(){
        background: #f5f9e7;
    }
    .text {
        width: 40%;
        margin: 0 auto;
        padding: 7rem 0;
        text-align: center;
        @include ipad(){
            width: 80%;
        }
        h3 {
            font-size: 1.6rem;
            line-height: 2.5rem;

            @include ipad(){
                font-size: 2rem;
            }
            
            @include mobile(){
                font-size: 1.5rem;

            }

        }
    }
}

// our leadership
.our-leadership {
    background: $leadership-bg;

    .jeff {
        padding: 4rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        
        .jeff-img {
            flex-basis: 43%;
            @include ipad(){
                flex-basis: 100%;
            }
        }
        .jeff-text {
            flex-basis: 50%;
            font-size: 1.6rem;
            line-height: 2rem;

            @include ipad(){
                flex-basis: 100%;
                margin-top: 1.5rem;
                font-size: 2rem;
            }
            @include mobile(){
                font-size: 1.1rem;
            }
            h4 {
                margin-bottom: 2.2rem;
                @include ipad(){
                    margin-bottom: 2rem;
                }
            }

            .jeff-bio {
                opacity: .5;
                font-size: 1.3rem;
                @include ipad(){
                    font-size: 1.5rem;
                }

                @include mobile(){
                    font-size: 1rem;
                }
            }
        }
    }

    .leadership-heading {
        justify-content: center;
        @include mobile(){
            justify-content: unset;
        }
        h2 {
            padding-top: 0;
        }
    }

    .leadership {
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 3rem;
        
        .card {
            position: relative;
            background-color: #fff;
            // width: 25%;
            height: 500px;
            margin-right: 1rem; 
            flex-basis: 25%;
            &:nth-child(3n+0) {
                margin-right: 0;
            }
            @include ipad(){
                flex-basis: 36%;
                margin-right: .2rem;
            }
            @include mobile(){
                flex-basis: 100%;
                margin: 1rem 0;
            }
            margin-bottom: 2rem;
            padding: 2rem 2.3rem;
            box-sizing: initial;
            font-size: 1rem;
            line-height: 2rem;
            @include ipad(){
                line-height: 1.8rem;
            }
            @include mobile-sm-sm(){
                font-size: 1rem;
                line-height: 1.5rem;
            }
            .card-text {
                .card-title {
                    font-size: 1.5rem;
                }
                .card-position {
                    opacity: .5;
                }

                ul {
                    padding-left: 1rem;
                }
                @include mobile-sm-sm(){
                    font-size: .9rem;
                    line-height: 1.8rem;
                }

            }

            .card-footer {
                position: absolute;
                bottom: 50px;
                font-size: 1.1rem;
                // margin-top: 4rem;
                img {
                    margin-right: 1.5rem;
                    vertical-align: middle;
                }
                a {
                    text-decoration: none;
                    color: #000;

                    &:hover {
                        color: #34a853;
                    }
                }
            }
        }
    }
}

// out partnerships
.our-partnership {
    .container {
        padding: 4rem 0;
        display: block;
        text-align: center;
        h4 {
            font-weight: bold;
            font-size: 1.2rem;
            line-height: 2.2rem;
            color: #34a853;
            text-align: center;
            margin-bottom: 1.6rem;
        }
        .partners-logo {
            width: 70%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            @include ipad(){
                justify-content: space-around;
            }
            img {
                margin-bottom: 1.5rem;
            }
        }
    }

    .container-skills {
        width: 90%;
        margin: 0 auto;
        background-color: #34a853;
        color: #fff;
        text-align: center;
        padding: 4rem;
        margin-bottom: 5rem;
        
        @include ipad() {
            width: 100%;
            text-align: justify;
        }
        @include mobile(){
            text-align: left;
            padding: 2.5rem 1rem;
        }
        h2 {
            padding: 0 0 0 0;
            @include mobile(){
                font-size: 1.5rem;
                line-height: 2rem;
            }
        }
        h4 {
            font-size: 1.5rem;
            line-height: 2rem;
            opacity: .5;
            @include mobile(){
                line-height: 1.5rem;
                font-size: 1rem;
            }
        }
        .skills {
            margin-top: 3rem;
            text-align: justify;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            @include ipad(){
                justify-content: space-between;
                // background-color: violet;
                
            }
            ul {
                // background-color: #b4d245;
                @include ipad(){
                    margin-bottom: 2rem;
                    flex-basis: unset;
                    &:last-child {
                        margin-bottom: unset;
                    }
                    flex-basis: 40%;
                    
                }
                @include mobile(){
                    flex-basis: 50%;
                    font-size: .8rem;
                }
                li {
                    line-height: 2rem;
                    list-style-type: none;
                }
            }
            
        }
    }
}

// news from HQ
.news-from-hq {
    background-color: rgba(249,250,251,0.7);
    .container {
        h2 {
            padding: 2rem 0;
            
        }
    }
    .news-deck {
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 5rem;
    }
    .news-card {
        display: flex;
        align-items: flex-end;
        height: 500px;
        background-size: cover;
        background-position: 50% 50%;
        position: relative;
        margin-right: 2rem;
        &:last-child{
            margin-right: 0;
        }
        flex-basis: 30%;
        @include ipad(){
            flex-basis: 45%;
            margin-bottom: 2rem;

            &:last-child{
                margin-bottom: 0;
            }
        }

        @include mobile(){
            flex-basis: 100%;
            margin-right: 0;
        }
        .overlay {
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            background-image: $news-card-bg;   
            
            &:hover {
                transition: all 0.5s linear;
                background: transparent linear-gradient(180deg, rgba(180,210,69,0.6), rgba(55,169,82,0.6)) 0 0 no-repeat;
            }
        }
        .card-title {
            padding: 2.5rem;
            color: #fff;
            z-index: 9999;
            font-size: 1.5rem;
            @include ipad(){
                font-size: 1.5rem;
                padding: 2rem;
            }

            @include mobile(){
                font-size: 1.2rem;
            }

            a {
                color: #fff;
                text-decoration: none;
                font-size: 1rem;
            }
        }
    }
}

// footer
footer {
    background-color: #2c3134;
    color: #fff;

    .container {
        display: block;
    }

    .build-team {
        text-align: center;
        padding: 5.5rem 0;
        border-bottom: 2px solid #fff;
        margin-bottom: 3.5rem;

        @include mobile(){
            padding: 4rem 0;
            margin-bottom: 2rem;
        }
        h3 {
            font-size: 3.5rem;
            // line-height: 4rem;
            @include mobile(){
                font-size: 2.5rem;
            }
        }
        button {
            margin-top: 4rem ;
        }
    }

    .footer-section {
        display: flex;
        flex-wrap: wrap-reverse;
        padding-bottom: 5rem;
        
        .social {
            flex-basis: auto;
            flex-grow: 1;
            @include ipad(){
                text-align: center;
            }

            .decagon-logo {
                content: url('./images/logo-white.svg');
                @include ipad(){
                    content: unset;
                }
            }
            .icons {
                img {
                    margin: 2rem 0;
                    margin-right: 1.5rem;  

                    @include ipad(){
                        margin-top: 3rem;
                        margin-bottom: 1.5rem;
                    }
                }
            }
        }

        .information {
            flex-grow: 2;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            // @include mobile(){
            //     margin-top: 1rem;
            // }
            h4 {
                font-size: 1.1rem;
                font-weight: bolder;
                line-height: 2.5;
                @include mobile(){
                    margin-top: 1rem;
                }
            }
            ul li {
                line-height: 2rem;
                list-style: none;
                a {
                    color: #fff;
                    text-decoration: none;

                    &:hover {
                        color: #34a853;
                    }
                }

                img {
                    vertical-align: middle;
                }
            }
        }
    }
}